# /usr/lib/systemd/system/football-teams-creator.service

[Unit]
Description=Football Teams Creator

[Service]
Type=simple
WorkingDirectory=/home/ec2-user/football-teams-creator
ExecStart=/home/ec2-user/.nvm/versions/node/v24.12.0/bin/node build
Restart=always

[Install]
WantedBy=multi-user.target